$color-bg: #fff;
$color-overlay: rgba(0, 0, 0, 0.4);
$color-text: #111;
$color-icons: #767676;

$color-gray-light: #f1f1f1;
$color-gray-hover: #e1e1e1;

$color-red: #e60023;
$color-red-hover: #b60000;
